:root{
    --transition-t: 200ms;
    --bg-option: no-repeat center center/cover;

    /* Header */
    --header-gap-p: 2em;
    --headerLogo-gap-p: 0.5em;
    --headerPad-p: 1rem 2rem;
    /* Main Nav bar */
    --mainNavPad-p: 2em 1rem;
    
    /* Secondary Nav bar */
    --secondary-SZ: 1em;
    --secTOP: 6.5em;
    --secNHeight: fit-content;
    --secNWidth: 14em;

}

@keyframes spinner {
    0% {
        transform: rotate(720deg);
    }

    14% {
        transform: rotate(450deg);
    }

    25% {
        transform: rotate(800deg);
    }

    45% {
        transform: rotate(360deg);
    }

    58% {
        transform: rotate(365deg);
    }

    75% {
        transform: rotate(45deg);
    }

    85% {
        transform: rotate(160deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes spinLogo {
    0% {
        transform: rotate(720deg) scale(2);
    }

    14% {
        transform: rotate(450deg) scale(2.2) translate(2rem);
    }

    25% {
        transform: rotate(800deg) scale(0.55) translate(4rem);
    }

    45% {
        transform: rotate(360deg) scale(1.3) translate(6rem);
    }

    58% {
        transform: rotate(365deg) scale(1.3) translate(6rem) skewX(1deg);
    }

    75% {
        transform: rotate(45deg) scale(1.1) translate(0.2rem);
    }

    85% {
        transform: rotate(160deg) scale(1) translateX(5rem) translateY(-3rem);
    }

    100% {
        transform: rotate(0deg) scale(2);
    }
}

@keyframes titleLineAnimate{
    0%{
        left: 0;
        width: 30%;
    }
    25%{
        
        width: 10%;
    }
    50%{
        left: 70%;
        width: 30%;
    }
    75%{
        width: 10%;
    }
    100%{
        left: 0%;
        width: 30%;
    }
}

/* Media Queries */
@media only screen and (max-width:1024px) {
    #mainNavBar{
        display: none !important; 
    }
    :root{
        --secondary-SZ: 0.9em;
        --secTOP: 7.2em;
    }
}

@media only screen and (max-width:768px) {
    :root{
        
    --secondary-SZ: 0.8em;
    --secTOP: 8.1em;
    --secNHeight: 2em;
    --secNWidth: 13em;
    }
    
}
@media only screen and (max-width:400px) {
    :root{
        
    --secondary-SZ: 0.65em;
    --secTOP: 9.7em;
    }
}

@media only screen and (max-width:1024px){
    #pfpPicture{
        display: none;
    }
}










